<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>

<form action="#" 
    th:action="@{/showCurrency}" 
    th:object="${currency}" 
    method="post">

To: <input th:field="*{to}">
From: <input th:field="*{from}">

<br>

Amount: <input th:field="*{amount}">

<br>

<input type="submit">

</form>

</body>
</html> 

